#jumbo {
  background: #fff;
  margin-top: 5%;
  width: 550px;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 80px;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: normal;
  border-left: none;
  margin-left: 20px;
  padding-right: 0px;
  padding-left: 15px;
  padding-bottom: 10px;
  line-height: 1.45;
  position: relative;
  color: #229944;
  transition: background 2s linear;
  transition: text 2s linear;
}

#footer {
  color: #229944;
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: normal;
}

#button {
  color: #fff;
  background: #229944;
  transition: background 2s linear;
}

body {
  background: #229944;
  transition: background 2s linear;
}

#link {
  font-size: 20px;
  color: #fff;
}

span {
  font-size: 12px;
}

a {
  color: #fff;
  transition: background 2s linear !important;
  background: #229944 !important;
  width: 40px;
  height: 30px;
}

#qMark {
  margin-right: 10px;
}
